<a href="https://colab.research.google.com/github/prajeshatm/hello/blob/main/ANN_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation,Dense,BatchNormalization,Dropout
from tensorflow.keras import optimizers

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
tf.random.set_seed(13)
tf.debugging.set_log_device_placement(False)

In [ ]:
ds=pd.read_csv('./Covid and Anxiety dataset - Modified.csv')
ds

     Sex  AgeGroup  Education  ...  Gad7_6  Gad7_7  Class
0      0         2          3  ...       0       0      0
1      1         1          6  ...       2       2      1
2      0         3          3  ...       1       1      0
3      1         2          6  ...       2       2      1
4      1         3          3  ...       1       0      0
..   ...       ...        ...  ...     ...     ...    ...
995    1         2          6  ...       1       0      0
996    1         2          2  ...       1       1      0
997    0         2          3  ...       1       1      0
998    1         1          5  ...       2       3      1
999    1         1          5  ...       3       1      1

[1000 rows x 24 columns]

In [ ]:
ds.shape

(1000, 24)

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Sex                         1000 non-null   int64
 1   AgeGroup                    1000 non-null   int64
 2   Education                   1000 non-null   int64
 3   FinancialSituation_General  1000 non-null   int64
 4   HealthStatus                1000 non-null   int64
 5   Unemployed                  1000 non-null   int64
 6   Student                     1000 non-null   int64
 7   Phq9_1                      1000 non-null   int64
 8   Phq9_2                      1000 non-null   int64
 9   Phq9_3                      1000 non-null   int64
 10  Phq9_4                      1000 non-null   int64
 11  Phq9_5                      1000 non-null   int64
 12  Phq9_6                      1000 non-null   int64
 13  Phq9_7                      1000 non-null   int64
 14  Phq9_8                      1000 non-null   int64
 15  Phq9_9                      1000 non-null   int64
 16  Gad7_1                      1000 non-null   int64
 17  Gad7_2                      1000 non-null   int64
 18  Gad7_3                      1000 non-null   int64
 19  Gad7_4                      1000 non-null   int64
 20  Gad7_5                      1000 non-null   int64
 21  Gad7_6                      1000 non-null   int64
 22  Gad7_7                      1000 non-null   int64
 23  Class                       1000 non-null   int64
dtypes: int64(24)
memory usage: 187.6 KB

In [ ]:
ds.isna().sum()

Sex                           0
AgeGroup                      0
Education                     0
FinancialSituation_General    0
HealthStatus                  0
Unemployed                    0
Student                       0
Phq9_1                        0
Phq9_2                        0
Phq9_3                        0
Phq9_4                        0
Phq9_5                        0
Phq9_6                        0
Phq9_7                        0
Phq9_8                        0
Phq9_9                        0
Gad7_1                        0
Gad7_2                        0
Gad7_3                        0
Gad7_4                        0
Gad7_5                        0
Gad7_6                        0
Gad7_7                        0
Class                         0
dtype: int64

In [ ]:
ds.isnull().sum()

Sex                           0
AgeGroup                      0
Education                     0
FinancialSituation_General    0
HealthStatus                  0
Unemployed                    0
Student                       0
Phq9_1                        0
Phq9_2                        0
Phq9_3                        0
Phq9_4                        0
Phq9_5                        0
Phq9_6                        0
Phq9_7                        0
Phq9_8                        0
Phq9_9                        0
Gad7_1                        0
Gad7_2                        0
Gad7_3                        0
Gad7_4                        0
Gad7_5                        0
Gad7_6                        0
Gad7_7                        0
Class                         0
dtype: int64

In [ ]:
x=ds.iloc[:,:-1]
y=ds.iloc[:,-1]
x.head()

   Sex  AgeGroup  Education  ...  Gad7_5  Gad7_6  Gad7_7
0    0         2          3  ...       0       0       0
1    1         1          6  ...       2       2       2
2    0         3          3  ...       1       1       1
3    1         2          6  ...       1       2       2
4    1         3          3  ...       0       1       0

[5 rows x 23 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
#Performing Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_test

array([[ 1.06191317,  0.37592858,  1.11761051, ..., -0.79430773,
         0.10890264,  0.26477926],
       [ 1.06191317,  0.37592858, -1.46832849, ..., -0.79430773,
        -1.03744095, -0.88021213],
       [-0.94169658, -0.58491125,  1.11761051, ..., -0.79430773,
        -1.03744095, -0.88021213],
       ...,
       [ 1.06191317,  1.33676842, -0.82184374, ...,  0.43956836,
         0.10890264,  0.26477926],
       [-0.94169658,  1.33676842,  1.11761051, ...,  1.67344444,
         1.25524623,  1.40977064],
       [-0.94169658,  1.33676842,  1.11761051, ...,  0.43956836,
         0.10890264,  0.26477926]])

In [ ]:
#Initialising ANN
ann = tf.keras.models.Sequential()

we can try with any other value as there is no hard rule about the number of neurons that should be present in the layer.

For the second input, we are always going to use “relu”[rectified linear unit] as an activation function for hidden layers.

In [ ]:
#Adding First Hidden Layer
#units:- number of neurons that will be present in the respective layer
#activation:- specify which activation function to be used
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [ ]:
#Adding Second Hidden Layer
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

In [ ]:
#Adding Output Layer
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [ ]:
#Compiling ANN
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

This is the last step in our ann creation process. Here we are just going to train our ann on the training dataset.batch_size: how many observations should be there in the batch. Usually, the value for this parameter is 32 but we can experiment with any other value as well.

epochs: How many times neural networks will be trained. Here the optimal value that I have found from my experience is 100.

In [ ]:
#Fitting ANN
ann.fit(X_train,Y_train,batch_size=32,epochs = 100)

Epoch 1/100
25/25 [==============================] - 1s 2ms/step - loss: 0.7756 - accuracy: 0.5113
Epoch 2/100
25/25 [==============================] - 0s 2ms/step - loss: 0.6229 - accuracy: 0.6637
Epoch 3/100
25/25 [==============================] - 0s 2ms/step - loss: 0.5057 - accuracy: 0.7750
Epoch 4/100
25/25 [==============================] - 0s 2ms/step - loss: 0.4237 - accuracy: 0.8300
Epoch 5/100
25/25 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8637
Epoch 6/100
25/25 [==============================] - 0s 2ms/step - loss: 0.3194 - accuracy: 0.8863
Epoch 7/100
25/25 [==============================] - 0s 3ms/step - loss: 0.2883 - accuracy: 0.9013
Epoch 8/100
25/25 [==============================] - 0s 2ms/step - loss: 0.2627 - accuracy: 0.9087
Epoch 9/100
25/25 [==============================] - 0s 3ms/step - loss: 0.2416 - accuracy: 0.9200
Epoch 10/100
25/25 [==============================] - 0s 2ms/step - loss: 0.2226 - accuracy: 0.9275
Epoch 11/100
25/25 [==============================] - 0s 2ms/step - loss: 0.2058 - accuracy: 0.9300
Epoch 12/100
25/25 [==============================] - 0s 3ms/step - loss: 0.1908 - accuracy: 0.9337
Epoch 13/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1763 - accuracy: 0.9375
Epoch 14/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1635 - accuracy: 0.9413
Epoch 15/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1521 - accuracy: 0.9463
Epoch 16/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1414 - accuracy: 0.9513
Epoch 17/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1316 - accuracy: 0.9525
Epoch 18/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1230 - accuracy: 0.9575
Epoch 19/100
25/25 [==============================] - 0s 3ms/step - loss: 0.1158 - accuracy: 0.9588
Epoch 20/100
25/25 [==============================] - 0s 2ms/step - loss: 0.1083 - accuracy: 0.9600
Epoch 21/100
25/25 [==============================] - 0s 3ms/step - loss: 0.1024 - accuracy: 0.9613
Epoch 22/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0965 - accuracy: 0.9625
Epoch 23/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0916 - accuracy: 0.9650
Epoch 24/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0865 - accuracy: 0.9663
Epoch 25/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0816 - accuracy: 0.9688
Epoch 26/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0770 - accuracy: 0.9712
Epoch 27/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0731 - accuracy: 0.9725
Epoch 28/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0695 - accuracy: 0.9762
Epoch 29/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0659 - accuracy: 0.9775
Epoch 30/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0628 - accuracy: 0.9787
Epoch 31/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0597 - accuracy: 0.9825
Epoch 32/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0571 - accuracy: 0.9837
Epoch 33/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0547 - accuracy: 0.9875
Epoch 34/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0526 - accuracy: 0.9850
Epoch 35/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0501 - accuracy: 0.9875
Epoch 36/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0482 - accuracy: 0.9912
Epoch 37/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0464 - accuracy: 0.9900
Epoch 38/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0447 - accuracy: 0.9900
Epoch 39/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0432 - accuracy: 0.9925
Epoch 40/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0415 - accuracy: 0.9925
Epoch 41/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0399 - accuracy: 0.9937
Epoch 42/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0384 - accuracy: 0.9925
Epoch 43/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0373 - accuracy: 0.9937
Epoch 44/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0358 - accuracy: 0.9925
Epoch 45/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0346 - accuracy: 0.9937
Epoch 46/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0333 - accuracy: 0.9925
Epoch 47/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0323 - accuracy: 0.9937
Epoch 48/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0311 - accuracy: 0.9937
Epoch 49/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 0.9950
Epoch 50/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0292 - accuracy: 0.9937
Epoch 51/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0283 - accuracy: 0.9950
Epoch 52/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0276 - accuracy: 0.9950
Epoch 53/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0266 - accuracy: 0.9950
Epoch 54/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0254 - accuracy: 0.9950
Epoch 55/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0254 - accuracy: 0.9950
Epoch 56/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0238 - accuracy: 0.9962
Epoch 57/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0231 - accuracy: 0.9962
Epoch 58/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0225 - accuracy: 0.9987
Epoch 59/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0222 - accuracy: 0.9987
Epoch 60/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0209 - accuracy: 0.9987
Epoch 61/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0204 - accuracy: 0.9987
Epoch 62/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0197 - accuracy: 1.0000
Epoch 63/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0192 - accuracy: 1.0000
Epoch 64/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0187 - accuracy: 1.0000
Epoch 65/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0181 - accuracy: 1.0000
Epoch 66/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0174 - accuracy: 1.0000
Epoch 67/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0167 - accuracy: 1.0000
Epoch 68/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0163 - accuracy: 1.0000
Epoch 69/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0161 - accuracy: 1.0000
Epoch 70/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0153 - accuracy: 1.0000
Epoch 71/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0148 - accuracy: 1.0000
Epoch 72/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0142 - accuracy: 1.0000
Epoch 73/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0137 - accuracy: 1.0000
Epoch 74/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0138 - accuracy: 1.0000
Epoch 75/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0130 - accuracy: 1.0000
Epoch 76/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0124 - accuracy: 1.0000
Epoch 77/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0122 - accuracy: 1.0000
Epoch 78/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0117 - accuracy: 1.0000
Epoch 79/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0113 - accuracy: 1.0000
Epoch 80/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0110 - accuracy: 1.0000
Epoch 81/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0108 - accuracy: 1.0000
Epoch 82/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0103 - accuracy: 1.0000
Epoch 83/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0101 - accuracy: 1.0000
Epoch 84/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0097 - accuracy: 1.0000
Epoch 85/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0095 - accuracy: 1.0000
Epoch 86/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0092 - accuracy: 1.0000
Epoch 87/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0090 - accuracy: 1.0000
Epoch 88/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0087 - accuracy: 1.0000
Epoch 89/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0085 - accuracy: 1.0000
Epoch 90/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0082 - accuracy: 1.0000
Epoch 91/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0081 - accuracy: 1.0000
Epoch 92/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0079 - accuracy: 1.0000
Epoch 93/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0075 - accuracy: 1.0000
Epoch 94/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0073 - accuracy: 1.0000
Epoch 95/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0071 - accuracy: 1.0000
Epoch 96/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0069 - accuracy: 1.0000
Epoch 97/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0069 - accuracy: 1.0000
Epoch 98/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0065 - accuracy: 1.0000
Epoch 99/100
25/25 [==============================] - 0s 2ms/step - loss: 0.0064 - accuracy: 1.0000
Epoch 100/100
25/25 [==============================] - 0s 3ms/step - loss: 0.0062 - accuracy: 1.0000

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
print(cm)

[[145   4]
 [  4  47]]

In [ ]:
_,accuracy = ann.evaluate(X_train, Y_train)
print('Accuracy: %.2f' % (accuracy*100))

25/25 [==============================] - 0s 2ms/step - loss: 0.0059 - accuracy: 1.0000
Accuracy: 100.00

In [ ]:
_,accuracy = ann.evaluate(X_test, Y_test)
print('Accuracy: %.2f' % (accuracy*100))

7/7 [==============================] - 0s 3ms/step - loss: 0.1261 - accuracy: 0.9600
Accuracy: 96.00