<a href="https://colab.research.google.com/github/prajeshatm/hello/blob/main/HamoyeStageBTaponProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load dataset
import pandas as pd
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [ ]:
#Remove date -creats some error in normalization
df=df.drop('date',axis=1)

In [ ]:
#min max normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
normalised_df

       Appliances    lights        T1  ...  Tdewpoint       rv1       rv2
0        0.046729  0.428571  0.327350  ...   0.538462  0.265449  0.265449
1        0.046729  0.428571  0.327350  ...   0.533937  0.372083  0.372083
2        0.037383  0.428571  0.327350  ...   0.529412  0.572848  0.572848
3        0.037383  0.571429  0.327350  ...   0.524887  0.908261  0.908261
4        0.046729  0.571429  0.327350  ...   0.520362  0.201611  0.201611
...           ...       ...       ...  ...        ...       ...       ...
19730    0.084112  0.000000  0.926786  ...   0.901961  0.861981  0.861981
19731    0.074766  0.000000  0.919747  ...   0.900452  0.985726  0.985726
19732    0.242991  0.142857  0.919747  ...   0.898944  0.583979  0.583979
19733    0.383178  0.142857  0.919747  ...   0.897436  0.126371  0.126371
19734    0.392523  0.142857  0.919747  ...   0.895928  0.682391  0.682391

[19735 rows x 28 columns]

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [ ]:
x=normalised_df['T2'].values
x

array([0.22534529, 0.22534529, 0.22534529, ..., 0.69265118, 0.67705355,
       0.66617051])

In [ ]:
y=normalised_df['T6'].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
x_train=x_train.reshape(-1,1)
linear_model=regressor.fit(x_train,y_train)

In [ ]:
x_test=x_test.reshape(-1,1)
predicted_values = linear_model.predict(x_test)
print(predicted_values)

[0.27457749 0.44635267 0.59807124 ... 0.35286298 0.45206773 0.39168223]

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.65

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [ ]:
normalised_df

       Appliances    lights        T1  ...  Tdewpoint       rv1       rv2
0        0.046729  0.428571  0.327350  ...   0.538462  0.265449  0.265449
1        0.046729  0.428571  0.327350  ...   0.533937  0.372083  0.372083
2        0.037383  0.428571  0.327350  ...   0.529412  0.572848  0.572848
3        0.037383  0.571429  0.327350  ...   0.524887  0.908261  0.908261
4        0.046729  0.571429  0.327350  ...   0.520362  0.201611  0.201611
...           ...       ...       ...  ...        ...       ...       ...
19730    0.084112  0.000000  0.926786  ...   0.901961  0.861981  0.861981
19731    0.074766  0.000000  0.919747  ...   0.900452  0.985726  0.985726
19732    0.242991  0.142857  0.919747  ...   0.898944  0.583979  0.583979
19733    0.383178  0.142857  0.919747  ...   0.897436  0.126371  0.126371
19734    0.392523  0.142857  0.919747  ...   0.895928  0.682391  0.682391

[19735 rows x 28 columns]

In [ ]:
normalised_df=normalised_df.drop('lights',axis=1)

In [ ]:
target=normalised_df['Appliances']

In [ ]:
normalised_df=normalised_df.drop('Appliances',axis=1)

In [ ]:
normalised_df

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(normalised_df,target,test_size=0.3, random_state=42)

In [ ]:
#Fitting the Multiple Linear Regression model
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_pred_mlr= mlr.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [0.03322207 0.24411599 0.03400024 ... 0.06844707 0.10032325 0.05722198]

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred_mlr)
round(mae, 2)

0.05

What is the Residual Sum of Squares (in two decimal places)?

In [ ]:
import numpy as np
rss = np.sum(np.square(y_test-y_pred_mlr))
round(rss, 2)

45.35

What is the Root Mean Squared Error (in three decimal places)?

In [ ]:
from sklearn.metrics import mean_squared_error
import math
MSE = mean_squared_error(y_test, y_pred_mlr)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
RMSE=round(RMSE,3)
print(RMSE)

Root Mean Square Error:

0.088

What is the Coefficient of Determination (in two decimal places)

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, y_pred_mlr)
round(r2_score, 2)

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [ ]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [ ]:
linear_model_weights = get_weights_df(mlr, x_train, 'Linear_Model_Weight')
linear_model_weights  # RH_2,RH_1

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [ ]:
y_ridge= ridge_reg.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_ridge))

Prediction for test set: [0.03321872 0.24043824 0.03461337 ... 0.06872351 0.10025536 0.05851175]

In [ ]:
from sklearn.metrics import mean_squared_error
import math
MSE = mean_squared_error(y_test, y_ridge)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
RMSE=round(RMSE,3)
print(RMSE)

Root Mean Square Error:

0.088

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [ ]:
lasso_weights = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights #Answer=4

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [ ]:
y_lasso= lasso_reg.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_lasso))

Prediction for test set: [0.07370267 0.08143458 0.07716072 ... 0.07792848 0.09034412 0.08359255]

In [ ]:
from sklearn.metrics import mean_squared_error
import math
MSE = mean_squared_error(y_test, y_lasso)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
RMSE=round(RMSE,3)
print(RMSE)

Root Mean Square Error:

0.094